<div class="row">
	<div class="col-8">
		<h2><%= @task.name %></h3>
		<p><%= @task.description %></p>
	</div>
	<div class="col-4">
		<h4>Top Five en completar la tarea</h4>
		<ul>
			<% @top_five.each do |user| %>
				<li><%= user.email %></li>
			<% end %>
		</ul>
	</div>
	<div class="col-12">
		<h4>Usuarios que completaron la tarea</h4>
		<ul>
			<% @users.uniq.each do |user| %>
				<li><%= user.email %></li>
			<% end %>
		</ul>
	</div>
</div>